page-browse {

    [note-width] {
        width: 14%;
    }

    .searchbar {
        background-color: color($colors, nav-background);
    }

    .no-margin {
        margin: 0 !important;

    }

    .item-inner {
        padding-right: 0px !important;
    }
    ion-label {
        margin: 0 !important;
    }
}
