<ion-header>
  <ion-navbar>

    <button ion-button primary menuToggle>
        <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title id="title_Browse">Browse</ion-title>
    <ion-buttons end>
        <button id="button_MoreOptions" ion-button clear primary icon-only (click)="openFilterPopover($event)">
            <ion-icon name="more"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

  <ion-item primary no-padding no-lines>
      <ion-label no-margin>
            <ion-searchbar
            placeholder="Search by name or number"
            [(ngModel)]="searchQuery"
            (ionInput)="filterPokemonList()"
        ></ion-searchbar>
      </ion-label>
        
    <ion-note item-end primary class="no-margin">

    </ion-note>
</ion-item>
   
</ion-header>

<ion-content>
    <!-- <ion-row *ngIf="!isLoading">
        <ion-col>
            <ion-list no-lines>
                <div *ngFor="let pokemon of filteredPokemonList">
                    <button id="item_{{pokemon.id}}" ion-item *ngIf="pokemon.id<knownPokemon" (click)="openDetailsModal(pokemon)">
                        <ion-note note-width item-start>
                            <span># {{pokemon.id}}</span>
                        </ion-note>
                        <ion-label>
                            <h2>{{pokemon.name | titlecase}}</h2>
                        </ion-label>
                        <ion-thumbnail item-end *ngIf="pokemon.id<knownPokemon">
                            <img class="avatarSize" src="assets/imgs/pokemon/front/{{pokemon.id}}.png"/>
                        </ion-thumbnail>
                    </button>
                </div>
            </ion-list> 
        </ion-col>
    </ion-row> -->

    <ion-row *ngIf="!isLoading">
        <ion-col no-padding no-margin id="item_{{pokemon.id}}" *ngFor="let pokemon of filteredPokemonList" col-4>
            <button ion-item no-padding no-margin  *ngIf="pokemon.id<knownPokemon" no-lines (click)="openDetailsModal(pokemon)">
                <ion-card  >
                    <ion-card-header no-padding>
                        <span class="pl-2 font-size-10"># {{pokemon.id}}</span>
                    </ion-card-header>
                    <img src="assets/imgs/pokemon/front/{{pokemon.id}}.png"/>
                    <div text-center><span class="font-size-14">{{pokemon.name | titlecase}}</span></div>
                </ion-card>
            </button>
        </ion-col>
    </ion-row>

</ion-content>
