<!-- Generated template for the CardMenuOptionComponent component -->
<ion-card>
    <ion-card-header>
        <strong>{{header}}</strong>
    </ion-card-header>
    <ion-card-content>
        <ng-content></ng-content>
    </ion-card-content>

    <!-- Footer section-->
    <button ion-button block>GO To Page</button>
</ion-card>
