<ion-header>
        <ion-navbar>
            <button ion-button primary menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
          <ion-title>Who's That Pok&eacute;mon?</ion-title>
      
        </ion-navbar>
      </ion-header>
      
      <ion-content padding>

            <ion-card *ngIf="!isLoading">
                <ion-card-header>
                </ion-card-header>
                <ion-card-content text-center>
                    <img *ngIf="!pokemon" src="assets/imgs/pokemon/unknown.png" />
                    <div *ngIf="pokemon">
                        <img (click)="revealPicture( pokemon )" class="overlay" [ngClass]="{'reveal': pokemon.showPicture, 'saturate-gray': !pokemon.showPicture}"
                            src="assets/imgs/pokemon/front/{{this.pokemon.id}}.png" />
                        
                    </div>

                </ion-card-content>
            </ion-card>
            <ion-row>
                <ion-col text-center>
                    <ion-spinner name="crescent" *ngIf="isLoading"></ion-spinner>
                    <h1 padding-top text-center *ngIf="!isLoading && pokemon && pokemon.showPicture">{{this.pokemon.name | titlecase}}</h1>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="!isLoading && pokemon && pokemon.showPicture">
                <ion-col text-center>
                    <button ion-button outline round (click)="openDetailsModal()">View Info</button>
                </ion-col>
            </ion-row>
      </ion-content>

      <ion-footer no-border>
          <div padding>
                <button ion-button block secondary (click)="refreshPokemonData()">Refresh</button>
          </div>
      </ion-footer>