card-menu-option-item {
    ion-avatar[item-start] {
        margin: none !important;
    }
    // ion-card-header{
    //     background-color: color($colors, primary);
    //     color: white;
    // }
    ion-card {
        //border-radius: 8px !important;
        overflow: inherit !important;
        ion-card-header {
            color: color($colors, primary);
        }

    }

    ion-item {
        //border-width: 0px !important;
    }
}
