<!-- Generated template for the CardMenuOptionItemComponent component -->
<ion-card>
    <ion-item id="button_navTo{{navTarget}}" (click)="goToPage()" no-lines>
        <ion-thumbnail no-margin item-start *ngIf="imgSrcPath">
            <img src="{{imgSrcPath}}"/>
        </ion-thumbnail>
            <ion-card-header no-padding>
                <strong>{{header}}</strong>
            </ion-card-header>
            <ion-card-content no-padding padding-top text-wrap>
                <ng-content></ng-content>
            </ion-card-content>
        <ion-note item-end><ion-icon padding-left name="ios-arrow-forward"></ion-icon></ion-note>
    </ion-item>
</ion-card>
