<!--
  Generated template for the PokemonDetailsModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header >

  <ion-navbar id="navbar" [hideBackButton]="true" [color]="light"
    class="background-{{this.type}}{{this.type2class}} toolbar">
    <ion-row>
            <button ion-button icon-only  no-box-shadow transparent (click)="backButtonClick()" class="mt-0"><ion-icon name="arrow-back"></ion-icon></button>
          <ion-title *ngIf="!isLoading"><strong>{{pokemon.species.name | titlecase}}</strong></ion-title>
      
    </ion-row>

      <ion-row>
        <ion-segment  [(ngModel)]="viewMode" color="secondary">
            <ion-segment-button value="bio">
              Bio
            </ion-segment-button>
            <ion-segment-button value="moves">
              Moves
            </ion-segment-button>
            <ion-segment-button value="forms">
              Forms
            </ion-segment-button>
          </ion-segment>
      </ion-row>

    </ion-navbar>
</ion-header>


<ion-content>
    <div *ngIf="viewMode === 'bio'">


    <ion-row *ngIf="!isLoading">
        <ion-col text-center>
            
            <ion-card>
                <ion-item>
                    <ion-note item-start>
                        <span class="font-size-16"># {{ this.pokemon.id }}</span>
                    </ion-note>
                    <p text-center>
                        {{genus.genus}}
                    </p>
                    <ion-note item-end>
                        <div padding></div>
                    </ion-note>
                </ion-item>
                <ion-card-content>
                    <ion-row>
                        <ion-col text-center col-12>
                            <img class="avatar-70" no-margin src="assets/imgs/pokemon/front/{{this.pokemon.id}}.png" />
                        </ion-col>
                    </ion-row>
                    <ion-row *ngIf="pokemon.types.length > 0">
                        <ion-col text-center>
                            <ion-chip color="{{this.type}}">
                                <ion-label><strong>{{ this.type | titlecase }}</strong></ion-label>
                            </ion-chip>
                            <ion-chip *ngIf="this.type2" color="{{this.type2}}">
                                    <ion-label><strong>{{ this.type2 | titlecase }}</strong></ion-label>
                            </ion-chip>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6 text-left>
                            Height: {{this.pokemon.height | feet:'dm'}}
                        </ion-col>
                        <ion-col col-6 text-left>
                            Weight: {{this.pokemon.weight | weight:'hg':1}}
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading">
        <ion-col>
            <!-- <accordion-card header="Info">
                <external-link linkId="infoLink" url="https://bulbapedia.bulbagarden.net/wiki/Main_Page">Sample link</external-link>
            </accordion-card> -->
            <ion-card>
                <ion-card-header no-padding>
                    
                    <ion-item>
                        <ion-label><strong>Description</strong></ion-label>
                        <ion-note item-end no-margin *ngIf="this.flavorTextRadioOptions.length > 1">
                            <button float-right ion-button icon-only no-box-shadow transparent dark (click)="showFlavorTextRadioOptions()">
                                <ion-icon name="more"></ion-icon>
                            </button>
                        </ion-note>
                    </ion-item>
                </ion-card-header>
                <ion-card-content>
                    <ion-scroll scrollY="true">
                        <span class="font-16">{{currentFlavorText}}</span>
                    </ion-scroll>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    <ion-row *ngIf="isLoading">
        <ion-col text-center><ion-spinner name="dots"></ion-spinner></ion-col>
    </ion-row>
    </div>
</ion-content>
