<!--
  Generated template for the NumericPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>
    <ion-navbar>

        <ion-title>Pokedex</ion-title>

        <ion-buttons end>
            <button ion-button primary menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>

</ion-content>
