// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";


// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;


@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #FF4040,
  secondary:  #F0F8FF,
  danger:     #f53d3d,
  blackColor:     black,
  light:      #f4f4f4,
  white:      #fff,
  nav-background: #FF4040,

  normal: #A8A77A,
  grass: #7AC74C,
  fire: #EE8130,
  electric: rgb(230, 188, 22),
  water: #6390F0,
  ice: #96D9D6,
  fighting: #C22E28,
  poison: #A33EA1,
  ground: #E2BF65,
  flying: rgb(135, 164, 228),
  psychic: #F95587,
  bug: #A6B91A,
  rock: #B6A136,
  ghost: #735797,
  dragon: #6F35FC,
  dark: #705746,
  steel: #B7B7CE,
  fairy: #D685AD,

  game-red: #ff1111,
  game-blue: #1111ff,
  game-yellow: #ffd733 ,
  game-gold: #daa520,
  game-silver: #c0c0c0,
  game-crystal: #4fd9ff,
  game-ruby: #a00000,
  game-sapphire: #0000a0,
  game-emerald: #00a000,
  game-diamond: #aaaaff,
  game-pearl: #ffaaaa,
  game-platinum: #999999,
  game-black: #444444,
  game-white: #e1e1e1,
  game-x: #6376b8,
  game-y: #ed5540,
  game-sun: #f1912b,
  game-moon: #5599ca,

);

// Type names
$pokemon-types: normal, flying, fire, water, grass, poison, ghost, ice, electric, fighting, psychic, bug, rock, ground, dragon, fairy, dark, steel;

// Config for dual type background linear gradients
$linear-deg: -55deg;
$left-gradient-percent: 10%;
$right-gradient-percent: 100%;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here



// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$item-md-detail-push-show: true;



// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
