<!-- Generated template for the BrowseFilterPopoverComponent component -->
<ion-list>
  <ion-list-header>Nav to Generation</ion-list-header>
  <button ion-item (click)="close(1)">Gen I 
    <span float-right>
    <ion-badge color="game-red">
      R
    </ion-badge> 
    <ion-badge color="game-blue">
      B
    </ion-badge>
    <ion-badge color="game-yellow">
      Y
    </ion-badge>
  </span>
  </button>
  <button ion-item (click)="close(152)">Gen II
    <span float-right>
      <ion-badge color="game-gold">
          G
        </ion-badge> 
        <ion-badge color="game-silver">
          S
        </ion-badge>
        <ion-badge color="game-crystal">
          C
      </ion-badge>
    </span>
  </button>
  <button ion-item (click)="close(252)">Gen III
      <span float-right>
        <ion-badge color="game-ruby">
            Ru
          </ion-badge> 
          <ion-badge color="game-sapphire">
            Sa
          </ion-badge>
          <ion-badge color="game-emerald">
            Em
        </ion-badge>
      </span>
  </button>
  <button ion-item (click)="close(387)">Gen IV
      <span float-right>
        <ion-badge color="game-diamond">
            D
          </ion-badge> 
          <ion-badge color="game-pearl">
            P
          </ion-badge>
          <ion-badge color="game-platinum">
            Pl
        </ion-badge>
      </span>
  </button>
  <button ion-item (click)="close(495)">Gen V
      <span float-right>
        <ion-badge color="game-black">
            B
          </ion-badge> 
          <ion-badge color="game-white">
            W
          </ion-badge>
      </span>
  </button>
  <button ion-item (click)="close(650)">Gen VI
      <span float-right>
        <ion-badge color="game-x">
            X
          </ion-badge> 
          <ion-badge color="game-y">
            Y
          </ion-badge>
      </span>
  </button>
  <button ion-item (click)="close(722)">Gen VII
      <span float-right>
        <ion-badge color="game-sun">
            S
          </ion-badge> 
          <ion-badge color="game-moon">
            M
          </ion-badge>
      </span>
  </button>
</ion-list>
`