/* Color classes */
.primary {
    color: colors($colors, primary) !important;
}

.secondary {
    color: colors($colors, secondary) !important;
}

.dark {
    color: colors($colors, blackColor) !important;
}

.background-inherit {
    background-color: inherit !important;
}

[primary] {
    color:white;
    background-color: color($colors, primary);
}

[transparent] {
    background-color: transparent;
    box-shadow: none;
    &.activated, &:hover  {
        background-color: transparent;
        box-shadow: none;
    }

    &[dark] {
        color: black !important;
    }

}
