/* Font classes */

.bold {
  font-weight: bold !important;
}

.font-size-10 {
  font-size: 10px !important;
}

.font-size-12 {
  font-size: 12px !important;
}

.font-size-14 {
  font-size: 14px !important;
}

.font-size-16 {
  font-size: 16px !important;
}

.font-size-18 {
  font-size: 18px !important;
}

.font-size-20 {
  font-size: 20px !important;
}

// Generate rem font-size classes .font-14, .font-16, ..., .font48 for specific $fontSizes
// The "size" in ".font-{size}" is equal to the actual pixel size when 1rem is 16px
$fontSizes: 14, 16, 18, 20, 24, 36, 48;
@each $size in $fontSizes {
  .font-#{$size} {
    font-size: #{$size}px !important;
  }
}

// Generate rem line-height classes .lh-14, .lh-16, ..., .lh-42
@for $i from 0 through 14 {
  $lh: 2 * $i + 14;
  .lh-#{$lh} {
    line-height: ($lh / 16) * 1rem !important;
  }
}

// Generate font-weight classes .fw-1, .fw-1, ... .fw-9
// .fw-1 { font-weight: 100; } to .fw-9 { font-weight: 900; }
@for $i from 1 through 9 {
  $fw: $i * 100;
  .fw-#{$fw} {
    font-weight: $fw;
  }
}
