/* Dynamic header colors for pokemon details */
@each $type in $pokemon-types {
    .background-#{$type} {
        background-color: color($colors, $type);
        .toolbar-background {
            background-color: color($colors, $type);
        }
    }
}

/* ************* Begin dual types ********************** */
@each $type in $pokemon-types {
    @each $otherType in $pokemon-types {
        .background-#{$type}-#{$otherType} {
            .toolbar-background {
                background: -webkit-linear-gradient($linear-deg, color($colors, $type) $left-gradient-percent, color($colors, $otherType) $right-gradient-percent) !important;
            }
        }
        .background-#{$otherType}-#{$type} {
            .toolbar-background {
                background: -webkit-linear-gradient($linear-deg, color($colors, $otherType) $left-gradient-percent, color($colors, $type) $right-gradient-percent) !important;

            }
        }
    }
}
