// Spacing classes


// Margin-top, mt-# generated classes
@for $size from 0 through 20 {
  .mt-#{$size} {
    margin-top: $size !important;
  }
}

[no-margin] {
    margin: 0px !important;
}

[no-padding] {
    padding: 0px !important;
}


.pl-2 {
    padding-left: 2px !important;
}

.avatarSize {
    width: 90% !important;
    height: 90% !important;
}