<!--
  Generated template for the MainMenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button primary menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title id="title_MainMenu">Main Menu</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <card-menu-option-item header="Pok&eacute;dex" navTarget="BrowsePage" imgSrcPath="assets/imgs/pokeball.png">
        <p>Browse pok&eacute;mon and their details</p>
    </card-menu-option-item>

    <card-menu-option-item header="Who's That Pok&eacute;mon?" navTarget="GuessingGamePage" imgSrcPath="assets/imgs/pikachu_shadow.png">
        <p>Play a guessing mini-game!</p>
    </card-menu-option-item>

</ion-content>
