<!-- Generated template for the AccordionCardComponent component -->
<ion-card class="rounded-corners">
    <ion-card-header (click)="isCardExpanded = !isCardExpanded" [ngClass]="{ 'expanded': isCardExpanded }">
        <strong>{{headerText}}</strong>
        <ion-icon [hidden]="!isCardExpanded" name="ios-arrow-up" float-right></ion-icon>
        <ion-icon [hidden]="isCardExpanded" name="ios-arrow-down" float-right></ion-icon>
    </ion-card-header>
    <ion-card-content *ngIf="isCardExpanded">
        <ng-content></ng-content>
    </ion-card-content>
</ion-card>