accordion-card {
    .rounded-corners {
        border-radius: 6px;
    }

    .expanded {
        background-color: color($colors, primary);
        color: white;
        transition: background-color 200ms linear;
    }
}
