
<ion-content padding>
    <h3 text-center>Cover Page</h3>

    
    
    
</ion-content>
<ion-footer padding>
    <div text-center><button ion-button primary class="primary" (click)="goToPage()">Open</button></div>
</ion-footer>
