page-pokedex {
    .tab-button-text {
        line-height: 2.0 !important;
        color: black;
    }

    .tabbar a[aria-selected=true] {
        border-bottom: 3px;
        border-style: solid;
        border-color: color($colors, primary);
        .tab-button-text { 
            color:red;
        }
    }

  .tabs-md .tab-button-text {
    font-size: 13.75px !important;
    letter-spacing: 0.4px !important;
  }
    .tabbar {
      //background: color($colors, light) !important;
      border-bottom: none !important;
      border-top: 0.25px solid rgba(255,255,255,0.6);
      box-shadow: 0 2px 7px -5px black;
    }
}
