<ion-tabs tabsLayout="icon-hide" tabsPlacement="top" tabsHighlight="true">
    <ion-tab [root]="alphaRoot" tabTitle="Alpha" tabIcon="information-circle"></ion-tab>
    <ion-tab [root]="numericRoot" tabTitle="Numeric" tabIcon="information-circle"></ion-tab>
</ion-tabs>
